In [1]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [2]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Get LATEST driver version for 91.0.4472
Trying to download new driver from https://chromedriver.storage.googleapis.com/91.0.4472.101/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\johng\.wdm\drivers\chromedriver\win32\91.0.4472.101]

In [4]:
# Choose url that we are scraping data from
url = 'https://redplanetscience.com/'
browser.visit(url)

# HTML object
html = browser.html
    
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

# Find all titles that are div and class content_title
titles = soup.find_all('div', attrs={"class":"content_title"})

# Store most recent article title
news_title = titles[0].text

# Find all text associated with article titles
text = soup.find_all('div', attrs={"class":"article_teaser_body"})

# Store most recent article text
news_p = text[0].text

# Print title and text of article
print(news_title)
print(news_p)

Robotic Toolkit Added to NASA's Mars 2020 Rover
The bit carousel, which lies at the heart of the rover's Sample Caching System, is now aboard NASA's newest rover.

In [25]:
# Choose url that we are scraping data from
url = 'https://spaceimages-mars.com'
browser.visit(url)

# HTML object
html = browser.html
    
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

# Find url of featured image
links = soup.find_all('img')
link = links[1]['src']
featured_image_url = 'https://spaceimages-mars.com/' + link

# Print final url
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars3.jpg

In [73]:
# Choose url that we are scraping data from
url = 'https://galaxyfacts-mars.com'
browser.visit(url)

# HTML object
html = browser.html
    
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

# Find all table facts for Mars and Earth
mars = soup.find_all('span', attrs={"class":"orange"})
earth = soup.find_all('span', attrs={"class":"purple"})

In [76]:
# Create dataframe to store planet data
row_labels = ["Diameter", "Mass", "Moons", "Distance from Sun", "Length of Year", "Temperature"]
mars_facts = []
earth_facts = []

for x in range(3,9):
    mars_facts.append(mars[x].text)
    
for x in range(2,8):
    earth_facts.append(earth[x].text)
    
dict = {
    "": row_labels,
    "Mars": mars_facts,
    "Earth": earth_facts,
}

df = pd.DataFrame(dict)

df.at[5, "Earth"] = "-88 to 58°C"

df = df.set_index("")

df

                               Mars            Earth

Diameter                   6,779 km        12,742 km
Mass               6.39 × 10^23 kg   5.97 × 10^24 kg
Moons                             2                1
Distance from Sun    227,943,824 km   149,598,262 km
Length of Year       687 Earth days      365.24 days
Temperature            -87 to -5 °C      -88 to 58°C

In [77]:
# Create html code from dataframe
html_table = df.to_html(classes='table table-striped', justify="left")
print(html_table)

<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: left;">
      <th></th>
      <th>Mars</th>
      <th>Earth</th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Diameter</th>
      <td>6,779 km</td>
      <td>12,742 km</td>
    </tr>
    <tr>
      <th>Mass</th>
      <td>6.39 × 10^23 kg</td>
      <td>5.97 × 10^24 kg</td>
    </tr>
    <tr>
      <th>Moons</th>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Distance from Sun</th>
      <td>227,943,824 km</td>
      <td>149,598,262 km</td>
    </tr>
    <tr>
      <th>Length of Year</th>
      <td>687 Earth days</td>
      <td>365.24 days</td>
    </tr>
    <tr>
      <th>Temperature</th>
      <td>-87 to -5 °C</td>
      <td>-88 to 58°C</td>
    </tr>
  </tbody>
</table>

In [78]:
hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", "img_url": "https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg"},
    {"title": "Cerberus Hemisphere", "img_url": "https://marshemispheres.com/images/full.jpg"},
    {"title": "Schiaparelli Hemisphere", "img_url": "https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg"},
    {"title": "Syrtis Major Hemisphere", "img_url": "https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg"},
]